@font-face {
    font-family: "digital";
    src: url("./digital/DS-DIGI.TTF"),
      url("./digital/DS-DIGIB.TTF"),
      url("./digital/DS-DIGII.TTF"),
      url("./digital/DS-DIGIT.TTF");
    font-weight: normal;  
    font-style: normal;  
  }